.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

}

.navbar-links a {
  all: unset;
  
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 34px;
}

.navbar-logo {
margin-right: 150px;
}

.navbar-user-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.navbar-user-info>button{
  background: transparent;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

